.custom-cursor {width:80px; height:80px; color:white; font-size:16px; font-weight:bold; border-radius:50%; background:radial-gradient(circle at 60% 70%,rgba(0, 0, 0, 0.4) 5%,rgba(170, 170, 170, 0.6) 30%,rgba(200, 200, 200, 0.4) 100%); box-shadow:inset -5px -5px 10px rgba(0, 0, 0, 0.3); display:flex; align-items:center; justify-content:center; position: fixed; pointer-events: none; transform: translate(-50%, -50%); z-index: 9999; opacity: 0;transition: opacity 0.2s ease;}
.hide-cursor {cursor: none;}

/* about_visual */
svg { height: auto;}
.about_visual {width:100%; height:1080px; background-color: #000; position:relative; display:flex; overflow:hidden;}
.svg_01 {position:absolute; top:-166px; left:0;}
.svg_01 svg {width:120%;}
.svg_02 {position:absolute; top:-619px; right:-435px;}
.svg_02 svg {width:120%;}
.about_visual em {color:#fff; font-size:90px; font-weight:900; position:absolute; top:50%; left:25%; transform:translate(0, -50%);}
.inner {width:1400px; margin:110px auto 160px;}
h2 {font-size:78px; font-weight:700;}
h3 {font-size:32px; font-weight:700;}
section dl {display:flex;}
section .inner > dl > dt {min-width:480px;}
section .inner dl dd strong {font-size:32px; font-weight:700;}
section dt span {font-size:32px; font-weight:400;}

/* about_vision */
.about_vision .inner h2 p {text-align:right; opacity:0; transform:translateY(100px); overflow:hidden;}
.about_vision .inner h2 p:last-of-type {text-align:left;}
.about_vision .inner > dl:first-of-type {margin:220px 0 200px;}
.about_vision .inner > dl dt p {margin-bottom:40px; font-size:32px; font-weight:700;}
.about_vision .inner > dl dd {display:flex; flex-wrap:wrap; justify-content:space-between;}
.about_vision .inner dl dd dl {width:40%; margin-bottom:140px; display:flex; flex-direction:column;}
.about_vision .inner dl dd dl dd p:first-of-type {margin-bottom:16px;}
.about_vision .inner .one dd {opacity:0; transform:translateX(100px); }
.about_vision .inner .two dd dl {opacity:0;}

/* about_awards */
.wrap > img {min-width:1920px; height:900px; padding:0 30px; box-sizing:border-box; opacity:0; transform:translateY(100px); }
.about_awards {overflow:hidden;}
.about_awards .inner > dl {}
.about_awards .inner > dl > dt {width:480px;}
.about_awards .inner > dl > dt img {width:344px; margin-top:16px;}
.about_awards .inner > dl > dd > p {font-size:32px;  margin:80px 0; font-weight:700;}
.about_awards .inner > dl > dd > ul {display:flex;}
.about_awards .inner > dl > dd > .about_swiper ul li {width:230px !important; height:182px; padding:59px 32px 65px; background-color:#FAFAFA; box-sizing:border-box; display:flex; flex-direction:column;}
.about_awards .inner > dl > dd > .about_swiper ul li strong {font-size:48px; font-weight:700;}
.about_awards .inner > dl > dd > .about_swiper ul li span {margin-top:14px; font-size:14px; font-weight:500;}
.about_awards .inner > dl > dd > div {margin-top:60px;}
.about_awards .inner > dl > dd > div p {margin-bottom:16px;}
.about_awards .inner > dl > dd > div p:last-of-type {margin-bottom:0;}
.about_awards .inner > dl > dd > div p span{color:#808080; font-size:14px; font-weight:400;}
.about_swiper {position: relative;}

/* about_partners */
.about_partners {background:#000;}
.about_partners .inner {margin-bottom:0;}
.about_partners h3 {padding-top:160px; margin-bottom:100px; color:#fff;}
.about_partners ul {display:flex; flex-wrap:wrap;}
.about_partners ul li {width:25%; margin-bottom:40px;}
.about_partners ul li {opacity: 0;transform: translateY(50px);}
