em,i {font-style: normal;}
.mo {display:block;}
#bottom {padding:28px 30px; position:fixed; right:0; bottom:0; left:0; z-index:100; display:flex; align-items:center; justify-content:space-between;}
#bottom * {color:#fff; font-size:14px; font-weight:800; letter-spacing:0;}
#bottom div {display:flex; align-items:center; gap:160px;}
#bottom .download {display:flex; align-items:center; gap:12px;}
#bottom .download:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:-50px 0; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}

.cont_inner {padding:0 30px;}
strong {font-weight:800;;}

.cont_inner {padding-top:220px;}
.cont_inner > p {overflow:hidden;}
.cont_inner > p > strong {font-size:48px; line-height:102%; letter-spacing:-2%; display:block; transform:translateY(100px);}
.cont_inner > .visual_cont {padding:20px 0 30px;}
.cont_inner > .visual_cont div {font-size:60px;}
.cont_inner > .visual_cont div strong {font-size:26px;}
.cont_inner > .visual_cont div p {width:120px; margin-top:18px; font-size:12px; font-weight:400;}
.cont_inner > .visual_cont div p span {opacity:0;}

/* swiper 영역 */
.on_list_swiper {margin:0 -30px;}
.swiper-wrapper {align-items:flex-end;}
.swiper-slide {border:1px solid red;}
.swiper-slide.swiper-slide-next {height:400px !important;}
.swiper-slide.swiper-slide-active {width:330px !important; height:546px !important;} 
.swiper-slide.swiper-slide-active img {height:100%;} 
.swiper-slide p {width:100%; height:100%; overflow:hidden;}
.swiper-slide p img {object-fit:fill; display:block; transition:all 0.3s;}
.swiper-slide > div {width:100%; margin-top:24px; margin-bottom:150px; position:absolute; position:absolute; left:0; bottom:0; }
.swiper-slide > div em, .swiper-slide > div > span {font-size:14px; font-weight:700; line-height:140%;}
.swiper-slide > div em {margin-left:30px; padding:5px 16px; color:#fff; border:1px solid #fff;}
.swiper-slide > div > span {margin:40px 0 20px 30px; color:#fff; font-weight:400; border:1px; display:block;}
.swiper-slide > div > div {display:none;}