/* Reset & Base */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    html {
        font-size: calc(100vw / 39);
    }
}
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
#wrap {
    position: relative;
    height: 100dvh;
}
.custom-cursor {
    display: none;
}

header {
    height: 8rem;
    background-color: #1d1617;
}

.project-section_wrap {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}
.fullpage-container {
    position: relative;
}
.main-swiper {
    position: relative;
    height: 100dvh;
    z-index: 10;
    overflow: visible;
}
.main-swiper .swiper-container {
    width: 100%;
    height: 100dvh;
    margin: 0 !important ;
    overflow: hidden;
    cursor: grab;
}
.swiper-container:active {
    cursor: grabbing;
}

.main-swiper .swiper-slide {
    width: 100% !important;
    height: 100dvh;
    flex-shrink: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.project-section:nth-child(1) {
    position: relative;
    background-color: #1d1617;
}

.project-section:nth-child(1)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35.08rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, rgba(249, 18, 18, 0.5) 0%, rgba(255, 11, 11, 0) 100%);

    filter: blur(100px);
}
.project-section:nth-child(2) {
    background-color: #ea1236;
}
.project-section:nth-child(3) {
    background-color: #7d8696;
}
.swiper-scrollbar {
    position: absolute;
    width: 18rem !important;
    height: 2px !important;
    left: 50% !important;
    bottom: 20.142dvh !important;
    transform: translateX(-50%) !important;
    z-index: 300 !important;
    background: rgba(255, 255, 255, 0.5);
}
.swiper-scrollbar-drag {
    background-color: #fff;
}
.heading,
.thumbnail-swiper {
    pointer-events: none;
}
.heading {
    position: absolute;
    /* top: 19rem; */
    top: 22.51dvh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column-reverse;
    gap: 1.6rem;
    width: 100%;
    padding: 0 3rem;
    z-index: 100;
}
.title,
.sub-title {
    text-align: center;
    color: #fff;
}
.title {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 110%; /* 39.6px */
    letter-spacing: -0.72px;
}

.sub-title {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.28px;
}
.sub-title > * {
    display: inline-block;
}
.sub-title br {
    display: none;
}

/* thumbnail swiper */
.thumbnail-swiper {
    position: absolute;
    padding: 0 4.5rem;
    width: 100%;
    height: 30rem;
    left: 0;
    top: 38.8dvh;
    margin: 0 auto;
    z-index: 50;
}

.thumbnail-viewer {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.3s ease;
}
.thumbnail.swiper-slide {
    width: 24.5rem !important;
    height: 24.2rem;
    margin-top: auto;
    flex: 0 0 auto;
    transition: width 0.3s ease;
}
.thumbnail.swiper-slide-active {
    width: 30rem !important;
    height: 30rem !important;
    transition: transform 0.3s ease;
    z-index: 2;
}
.thumbnail {
    flex: 0 0 auto;
}
.thumbnail .img {
    height: 24.5rem;
}

.project-info {
    display: none;
}

.project-list-button {
    display: flex;
    gap: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5.924vh;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 102%;
    letter-spacing: -0.36px;
    z-index: 100;
}

#bottom {
    display: none;
}

.project-info {
    width: 12rem;
    height: auto;
    display: none;
}
