#wrap {position:relative;}

header {position:fixed; top:0; right:0; left:0; z-index:100;}
header h1 img {height:24px; display:block;}
header .inner {padding:26px 30px; position:relative; z-index:91; display:flex; align-items:center; justify-content:space-between;}
header .inner a {color:#fff; font-size:14px; font-weight:800; letter-spacing:-0.01em; display:flex; align-items:center; gap:4px;}
header .inner a:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:0 -50px; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}
header .inner .btn_ham {width:28px; height:28px; font-size:0; background-color:transparent; border:0; position:relative; cursor:pointer;}
header .inner .btn_ham:before, header .inner .btn_ham:after {width:100%; border-top:5px solid #fff; content:''; position:absolute; left:0; display:block; transition:all 0.25s ease-in-out;}
header .inner .btn_ham:before {top:6px;}
header .inner .btn_ham:after {bottom:6px;}
header.type_02 .inner .btn_ham:before, header.type_02 .inner .btn_ham:after {border-top:5px solid #000;}
header.type_03 .inner a::before {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:0 -50px; background-repeat:no-repeat; background-size:500px auto; content:''; display:block; transform:rotate(180deg);}
header.type_03 .inner a::after {display:none;}
/* site map open */
header .inner.close a {display:none;}
header .inner.close .btn_ham:before, header .inner.close .btn_ham:after {border-color:#000; top:50%; bottom:initial; left:50%;}
header .inner.close .btn_ham:before {transform:translate(-50%, -50%) rotate(45deg);}
header .inner.close .btn_ham:after {transform:translate(-50%, -50%) rotate(135deg);}

header .site_map {background-color:#fff; overflow:auto; position:fixed; top:50%; right:50%; bottom:50%; left:50%; z-index:90; opacity:0; display:flex; align-items:center;}
header .site_map.active {animation:active_sitemap 1s forwards;}
header .site_map.close {animation:close_sitemap 1s forwards;}
header .site_map ul {margin-left:24%;}
header .site_map li {overflow:hidden;}
header .site_map li a {color:#000; font-size:90px; font-weight:800; line-height:120%; opacity:0; display:block; transform:translateY(-100%); transition:transform 0.6s ease-in-out, opacity 0.3s;}
header .site_map li.active a {opacity:1; transform:translateY(0);}

header .site_map .bottom > * {transform: translateY(100px);transition: transform 0.6s ease;}
header .site_map .bottom > *.active {transform: translateY(0);}

header .site_map .bottom {padding:28px 30px; position:fixed; right:0; bottom:0; left:0; z-index:90; display:flex; align-items:center; justify-content:space-between;}
header .site_map .bottom {bottom:0; transition-delay:0.95s;}
header .site_map .bottom * {color:#000; font-size:14px; font-weight:800; letter-spacing:0;}
header .site_map .bottom > div {display:flex; gap:160px;}
header .site_map .bottom .download {display:flex; align-items:center; gap:12px;}
header .site_map .bottom .download:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:-100px 0; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}

#bottom {padding:28px 30px; position:fixed; right:0; bottom:0; left:0; z-index:100; display:flex; align-items:center; justify-content:space-between;}
#bottom * {color:#fff; font-size:14px; font-weight:800; letter-spacing:0;}
#bottom div {display:flex; align-items:center; gap:160px;}
#bottom .download {display:flex; align-items:center; gap:12px;}
#bottom .download:after {width:20px; height:20px; background-image:url('/assets/images/common/icon_split.png'); background-position:-50px 0; background-repeat:no-repeat; background-size:500px auto; content:''; display:block;}


/* type2 bottom 추가 */
#bottom.type2{background-color: #000; position:static;}
#bottom.type2 button {display:flex; align-items:center; gap:6px;}
#bottom.type2 button::after {content:''; width:15px; height:15px; background-image:url('../images/common/icon_split.png'); background-size:500px 500px; background-position:-50px -50px; display:inline-block;}

/* go admin : hidden menu */
header #hidden_menu {width:220px; height:70px; background:url('/assets/images/etc/etc_ticket.png') 0 0 no-repeat; position:fixed; top:10px; right:0; z-index:1000; display:flex; align-items:center; justify-content:flex-end; transform:translateX(100%); transition:transform 0.5s ease-in-out;}
header #hidden_menu.active {transform:translateX(0);}
header #hidden_menu a {width:150px; font-size:13px; text-align:center; word-break:keep-all; display:block;}
header #hidden_menu strong {display:block;}
header #hidden_menu button {width:17px; height:17px; font-size:0; position:absolute; top:10px; right:10px;}
header #hidden_menu button:before, header #hidden_menu button:after {width:100%; margin-top:-1px; border-top:2px solid #000; content:''; position:absolute; top:50%; left:0; display:block;}
header #hidden_menu button:before {transform:rotate(45deg);}
header #hidden_menu button:after {transform:rotate(135deg);}
.mo {display:none;}

@keyframes active_sitemap {
  0% {top:50%; right:50%; bottom:50%; left:50%; opacity:0;}
  10% {top:49.9%; right:49.9%; bottom:49.9%; left:49.9%; opacity:0;}
  50% {top:49.9%; right:0; bottom:49.9%; left:0; opacity:1;}
  100% {top:0; right:0; bottom:0; left:0; opacity:1;}
}

@keyframes close_sitemap {
  0% {top:0; right:0; bottom:0; left:0; opacity:1;}
  50% {top:49.9%; right:0; bottom:49.9%; left:0; opacity:1;}
  90% {top:49.9%; right:50%; bottom:49.9%; left:50%; opacity:0;}
  100% {top:50%; right:50%; bottom:50%; left:50%; opacity:0;}
}

@media screen and (max-width:767px) {
  #bottom.type2 a[href="mailto:rianag@rianag.com"] {font-size:12px; font-weight:700; line-height:148%; order:0;}
  #bottom.type2 a[href="http://daum.net"] {display:none;}
  #bottom.type2 .top {width:50px; height:50px; font-size:0; order:1; background-image:url('../images/common/icon_split.png'); background-size:500px 500px; background-position:0 -100px; transform:rotate(-90deg);}
  #bottom.type2 .top::after {display:none;}
  header .site_map {display:flex; justify-content:flex-start; flex-direction: column;}
  header .site_map ul {margin-left:30px; position:absolute; top:140px; left:0; } 
  header .site_map ul li {margin-bottom:12px;}
  header .site_map ul li.mo {display:block;}
  header .site_map ul li:last-of-type {margin-bottom:0;}
  header .site_map ul li a {font-size:40px; font-weight:700; line-height:100%;}
  header .site_map .bottom {display:flex; flex-direction:column; justify-content:flex-start; align-items:flex-start; gap:20px;}
  header .site_map .bottom a[href="mailto:rianag@rianag.com"] {display:none;}
  header .site_map .bottom a[href="http://daum.net"] {display:flex; align-items:center;}
  header .site_map .bottom a[href="http://daum.net"]::after {content:''; width:20px; height:20px; margin-left:12px; background-image:url('/assets/images/common/icon_split.png'); background-size:500px 500px; background-position:-200px -50px;}
}