#layout {padding-bottom:0;}
.cont_inner {width:1460px; margin:0 auto; padding:0 30px; box-sizing:border-box; text-align:center;}

 .inner-cont {padding-bottom:0px !important;}
.cont_inner ul li {display:flex; justify-content:space-between;}
#layout > ul {padding:80px 30px 30px; display:flex;}
section {padding-top:100px;}
.content, .cont_inner, ul.cont_inner {will-change: transform, opacity;}
.content > img {width:100%;}
#layout > div.content {display:flex; gap:30px;}
.content {padding-left:30px; padding-right:30px;}
.content:nth-of-type(8) {padding-right:0; padding-left:0;}
ul.content {margin-top:100px; display:flex; gap:30px;}
ul.content li {width:50%;}
ul.content li img {width:100%;;}
p.content {padding-top:0; padding-left:0; padding-right:0;}
div.content {padding-top:218px; background:#fff;}
div.content img {margin-left:15.0416%;}

@media (max-width: 768px) {
    /* scroll_action */
    .content {padding-left:0; padding-right:0;}
    #layout > ul {padding:0 0 10px;}
    /* .zero {padding-top:0; padding-left:0; padding-right:0;} */
    .cont_inner {width:100%; padding-left:0; padding-right:0;}
    ul.content {margin-top:0; gap:10px;}
}